@font-face {
    font-family: 'cursive';
    src: url('fonts/Cursive/static/cursive-Regular.ttf');
}
@font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat/static/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'amanda-black';
    src: url('fonts/Amanda-black/amanda-black.regular.ttf');
}
@font-face {
    font-family: 'afacad';
    src: url('fonts/Afacad_Flux/static/AfacadFlux-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
}
#anchor{
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #FAF0E6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
#anchor img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}
.pillar-image{
    height: 190px;
    rotate: 180deg;
}
.main-header-container {
    width: 100%;
    height: 25vh;
    background: #E63E6D;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    stroke-dasharray: 1px 1px;
    border-bottom: 5px #9f1d42 solid;
    border-style: dashed;
}

.header-container {
    position: relative;
    display: inline-block;
}

.header-container img {
    width: 55%;
    height: auto;
    display: block;
    background-color: #9f1d42;
    border: 6px solid #7D1935;
    border-radius: 50%;
    padding: 3px;
    opacity: 0.85;
    margin-left: 20%;
}

.header-container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10vw;
    transform: translate(-50%, -50%);
    margin: 0;
    font-family: 'cursive';
    font-size: 19px;
    text-align: center;
    color: #130308;
}

.order-wrapper {
    width: 100%;
    min-height: 200vh;
    background: #7D1935;
    display: flex;
    justify-content: center;
}

.menu-container{
    width: 80%;
    height: fit-content;
    min-height: 155vh;
    background: #FAF0E6;
    border-radius: 10px;
    margin-top: 10vh;
}

.menu-container h1{
    padding: 0;
    text-align: center;
    font-family: 'amanda-black';
}

.menu-item-container, .extras-item-container, .drinks-item-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-evenly;
    padding: 20px;
}

.menu-item{
    width: 30%;
    height: 50vh;
    margin-top: 5vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: 0.3s translate;

}

.menu-item:hover, .extras-item:hover, .drink-item:hover{
    translate: -8px -8px;
    box-shadow: 2px 2px;
    color: red;
    cursor: pointer;
}

.unselected-pizza, .unselected-extras, .unselected-drink{
    border: 3px solid green;
}

.selected-pizza, .selected-extras, .selected-drink{
    border: 5px solid red;
}



.menu-item img, .extras-item img, .drink-item img{
    width: 40%;
    height: auto;
    border-radius: 50%;

}

.menu-container button{
    margin: 0;
    width: 15vw;
    height: 7vh;
    background-color: #E63E6D;
    font-family: 'montserrat';
    font-size: 15px;
    border-radius: 5px;
    border: none;
    transition: 0.3s width;
    

}
.menu-container .button-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.menu-container .button-container a{
    text-decoration: none;
}

.menu-container button a{
    width: 100%;
    height: 100%;
    
}

button:hover {
    cursor: pointer;
    background-color: #f2255f;
    width: 250px;
}

button:active {
    background-color: #be385e;

}

.extras-item-container{
    display: none;
}
.pizza-name, .extras-name, .drink-name{
    font-size: 30px;
    font-family: 'afacad';
    color: #130308;
}
.pizza-ingredient{
    font-size: 12px;
    font-family: 'montserrat';
    color: #232122;
}
.pizza-price, .drink-price{
    color: #130308;
    font-family: 'montserrat';
}
.extras-item{
    width: 18%;
    height: 30vh;
    margin-top: 5vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: 0.3s translate;
}

.extras-price{
    color: #130308;
    font-size: 20px;
    font-family: 'montserrat';
}
.drink-item{
    width: 18%;
    height: 50vh;
    margin-top: 5vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: 0.3s translate;
}
.drink-size{
    display: flex;
    justify-content: space-evenly;
    color: #130308;
    
}
.size-item{
    border: 1px solid #232122;
    border-radius: 10px;
    font-family: 'montserrat';
    width: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.size-item .size-radio{
    height: 50px;
    width: 50px;
    position: relative;
    border-radius: 20px;
    opacity: 0;
}
.size-name{
    position: absolute;
}
.unselected-size-item{
    border: 1px solid #130308;
}

.selected-size-item{
    border: 2px solid #7D1935;
}
.payment-item-wrapper{
    display: flex;
    justify-content: center;

}
.payment-item-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid #7D1935;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: 'montserrat';
    
}
.payment-item, .total-price-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.payment-item .order-item-name, .total-price-container .total-text{
    width: 20%;
    text-align: left;
}
.payment-item .order-item-price, .total-price-container .total-price{
    width: 20%;
    text-align: right;
}
.total-price-container{
    border: 0;
    border-top: 3px solid gray;
    border-style: dashed;
    font-weight: bold;
    color: #232122;
}